* {
  --primary-color: #4fb3f6;
  --radioColor: #000000;
  --radioHoverColor: #46535f;
  --radioInvalidColor: #cf1d00;
  --radioInvalidHoverColor: #ff341a;
  --radioLabelColor: #000000;
  --radioDescriptionColor: #000000;
  --radioOutlineColor: #4fb3f6;
}
[class ^= 'Header-module'], div[class ^= 'brn-header-placeholder'], .brn-footer, #html .mint .mint-header, #moderate-functions-panel .covering-text, footer[data-testid = 'footer_layout'],.brn-header-placeholder, #footer{
  background-color:var(--primary-color)!important;
  border-bottom-color: var(--primary-color)!important;
  input{
    background:white!important;
  }
}
 #moderate-functions-panel .text, .menu-list a:before, a[data-testid = 'navigation_add_question'] > span, div[class ^= 'Header-module__subnav'] span, div[class ^= 'Header-module__subnav'] a, button[aria-label = 'notification center'] svg, .brn-footer-legal-section div, .brn-footer-legal-section p, .brn-footer__container a, .brn-footer__container span, .brn-footer__container h3{
  color: var(--primary-text)!important;
 }
.brn-moderation-panel .sg-menu-list__link{
  cursor: pointer!important;
}
.presets {
  .sg-radio-group__items {
    display: flex;
    flex-wrap: wrap;
    width:750px;
  }
}
.question-md{
  border-color: rgb(235, 242, 247);
  background: rgb(235, 242, 247);
  margin-bottom: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(235, 242, 247);
  border-image: initial;
  border-radius: 8px;
  padding: 8px;
  margin: 2%;
}
.preview-box{
  position:relative;
  min-width:600px;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  .close{
    position:absolute;
    top: 18px;
    right:18px;
  }
  .items{
    margin-top:12px;
    flex:1;
    overflow-y: auto;
    .item{
      border: 1px solid #ebf2f7;
      border-radius: 5px;
      padding:12px;
      margin-bottom:8px;
      .sg-media{
        padding:0px!important;
        min-height: 2rem!important;
        .sg-media__aside{
          display: flex;
          align-items: center;
        }
      }
      .content{
        margin-top:8px;
        max-width:600px;
      }
      .attachments{
        .attachment-view{
          display: flex;
          background: #e1eaf1;
          border-radius: 10px;
          position: relative;
          align-items: center;
          justify-content: center;
          padding: 12px;
          margin: 8px 0;
          img{
            max-height: 215px;
            border-radius: 10px;
          }
        }
        .attachments-panel{
          display:flex;
          img{
            height:64px;
            width:64px;
            border-radius: 10px;
          }
        }
      }
      &.reported{
        border: 2px solid #ff341a!important;
        .rep-button{
          display:none;
        }
      }
    }
  }
}
.icononly{
  padding:20px;
  height:40px;
  width:40px;
}
.brn-placeholder__animation{
  background:none!important;
}
.sg-layout__container{
  display:flex;
  flex-direction:row;
  .modbar{
    width:50px;
    height:auto;
    border-left:2px solid #e1eaf1;
  }
}
.sg-button--solid-blue{
  background-color: var(--primary-color)!important;
  &:hover{
    filter:brightness(95%)!important;
  }
}
.user-mgmt{
  display:flex;
  justify-content:flex-start;
  margin-bottom:5%;
  .panbut{
    margin: 0px 2px;
    background: transparent;
    border: 2px solid;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
      height:16px!important;
      width:16px!important;
    }
    &.mass-msg{
      border-color:#4fb3f6!important;
      >div{
        color:#4fb3f6!important;
      }
    }
    &.mass-accdel{
      border-color: #687b8c!important;
      >div{
        color: #687b8c!important;
      }
    }
    &.reported-comments-deleter{
      border-color: #6d83f3!important;
      >div{
        color: #6d83f3!important;
      }
    }
    &.mm-content{
      border-color: #ff7968!important;
      >div{
        color: #ff7968!important;
      }
    }
    
  }
}
#moderate-functions-panel .text{
  color:white!important;
}
.qdel, .adel{
  display:none!important;
}
#html .mint,input, button, select, textarea,.mint-header-secondary, .mint-cake-heading, #html .mint #profile #main-left .personal_info .header .info .info_top .ranking h2 a, #html .mint #profile #main-left .personal_info .header .info .info_top .rank h3 span, #html .mint #profile #main-left .personal_info .header .info .info_top .points h1, #html .mint #profile h3{
  font-family: "ProximaNova","Helvetica","Arial",sans-serif!important;
}
#html h1, #html h2{
  font-weight:900!important;
}

.modal_mcomp_u{
  display: flex;
  flex-direction: column;
  width:80%;
  height:95%;
  min-width:475px!important;
  .sg-spinner-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius:10px;
    background:transparent;
    z-index:999;
    &.remove{
      display:none;
    }
  }
  .users, .answers{
    overflow:auto;
    display:grid;
    gap:8px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  .adduserbox{
    height:100%;
    width:100%;
    padding-right:12px;
    padding-bottom:12px;
    display:flex;
    flex-direction: column;
    min-height:195px;
    .add-companion-user{
      flex:1;
      height:100%;
      width:100%;
      display: flex;
      border: 2px solid #e1eaf1;
      align-items: center;
      justify-content: center;
      position: relative;
      background:transparent!important;
      .sg-icon{
        height:24px!important;
        width:24px!important;
        max-height:24px!important;
        max-width:24px!important;
        svg{
          fill: #687b86!important;
          height:24px!important;
          width:24px!important;
          max-height:24px!important;
          max-width:24px!important;
        }
      }
    }
    >input{
      width:100%;
      margin:12px 0px;
    }
  }
  .companionUserObject{
    padding:18px;
    height:50px;
    width:100%;
    display:flex;
    flex-direction: row;
    padding:4px!important;
    justify-content: space-between!important;
    border: 2px solid #e1eaf1;
    border-radius: 10px;
    &.openelem{
      grid-row:1/100;
      height:100%!important;
      overflow-y:auto!important;
    }
    .permlist{
      margin-top:12px;
      >button{
        margin-top:12px;
      }
    }
    .user{
      display:flex;
      align-items:center;
      justify-content: center;
      flex-direction: row;
      .companionUserAvatar{
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
      .username{
        font-size:1.1rem;
	      margin-left:8px;
      }
    }
    
    .changedb{
      display: flex;
      justify-content: space-evenly;
      .remove-user,.edit-user{
        background-color:transparent!important;
        border:none!important;
        padding:0px;
        height:40px;
        width:40px;
        .sg-icon{
          height:24px!important;
          width:24px!important;
        }
      }
      .sg-icon{
        fill: #687b8c!important;
      }
    }
  }
  }
  
}
.username{
  font-weight: bold;
    font-size: x-large;
    color:Black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.modal_back{
  position:fixed;
  z-index:900;
  background: rgba($color: black, $alpha: 0.5);
  height:100%;
  width:100%;
  top:0;
  display:flex;
  align-items: center;
  justify-content: center;

  .modal_accdel, .modal_mmsg_s, .modal_mcomp_u, .modal_mass_content{
    background: white;
    padding: 18px;
    border-radius: 10px;
    min-width: 600px;
    position: relative;
    >h1{
      font-size:1.5rem;
    }
    >textarea{
      width:100%;
    }
    .presets .sg-radio label{
      padding-right:4px!important;
    }
    .deletion-reason{
      height:80px!important;
    }
    .presets{
      margin:8px 0px;
    }
    .delete-acc, .delete-content, .delete-questions, .remove-user{
      width:100%;
      margin-top:8px;
      background-color:#ff7968!important;
      color:white;
    }
    .count{
      display: inline-flex;
    }
    .add-user, .confirm-questions{
      width:100%;
      margin-top:8px;
      background-color:#60D399!important;
      color:white;
    }
    
    .confirm-content{
      width:100%;
      margin-top:8px;
      background-color:#60D399!important;
      color:white;
    }
    .send-message{
      width:100%;
      margin-top:8px;
      background-color:#4FB3F6!important;
      color:white;
    }

  }
  .modal{
    background:white;
    border-radius:10px;
    max-height:95%;
    width:50%;
    min-width:600px;
    padding:24px;
    position:relative;
    display: flex;
    flex-direction: column;
    .mass-actions{
      display:none!important;
    }
    &::after{
      height: 25px;
      background: linear-gradient(180deg, #fff0 0, #fff);
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      z-index: 999;
      pointer-events:all;
      content: "";
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      bottom: 24px;
    }
    .title{
      display:flex;
      align-items: center;
      h1{
        line-height: 1.5rem;
        font-size: 1.5rem;
        margin-bottom:8px;
      }
      .qlink{
        margin-bottom:8px;
        font-size: 1.5rem;
        margin-left: 8px;
        font-weight: 900;
        color: #08c!important;
      }
    }
    .modal_close {
      z-index:900;
      > div{
        border-radius: 100%;
        padding: 8px;
        top:12px;
        right:24px;
      }
      svg{
        fill:#323c45;
      }
    }
    .preview-content{
      display:flex;
      flex-direction: column;
      flex:1;
      overflow-y:auto;
      position:relative;
      .removedq{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        >img{
          width:80%;
        }
        h1{
          color:#323c45;
        }
      }
      .sg-spinner-container{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:white;
        z-index:999;
        &.remove{
          display:none;
        }
      }
      .log{
        margin-bottom:24px;
        .log-item{
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding:4px 4px;
          border-bottom:1px solid #c3d1dd;
          .content{
            margin-top:0px;
            display:flex;
            font-size:0.9rem;
          }
          .datetime{
            display:flex;
            font-size:0.9rem;
          }
          .user{
            color: #0089e3;
            margin-right: 4px;
            font-weight: 600;
          }
        }
      }
      .comments{
        display:none!important;
        flex-direction: column;
        padding: 12px;
        width:100%;
        margin-top:0px!important;
        margin-bottom:0px!important;
        border: none!important;
        &.open{
          display:flex!important;
        }
        .comment{
          border: 2px solid #ebf2f7;
          border-radius: 8px;
          padding: 8px;
          margin-bottom: 8px;
          &.deleted{
            border-color: #ff7968;
            background: #fff1f0;
          }
          &.reported{
            border-color: #ff7968;
            .rep-flag{
              color: #ff341a;
              height: 26px;
              width: 26px;
              display:block;
              margin-right:4px;
            }
            .confirmComment{
              display:flex!important;
            }
          }
          .rep-flag{
            display:none;
          }
          .comment-content{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .comment-data{
              display: flex;
              align-items: center;
              .sg-checkbox{
                margin-right:8px;
                width:fit-content;
              }
              .comment-content{
                flex:1;
              }
            }
            .actions{
              margin-top:0px!important;
              display:flex;
              align-items: center;
              justify-content: space-between;
              .actionbut{
                display:flex;
                align-items: center;
                justify-content: center;
                &.confirmComment{
                  display:none;
                }
                .sg-icon{
                  height:21px;
                  width:21px;
                }
              }
            }
          }
        }
      }
      .content-item{
        margin-bottom:8px;
        border:1px solid #e1eaf1;
        border-radius:8px;
        padding:0px;
        width:100%;
        height:max-content;
        >h1{margin-top:8px;}
        .verifiedheader{
          display:none;
        }
        &.reported, &.AFCreported{
          .report{
            display:flex;
            .report-info>div{
              font-size:1rem;
              line-height:1.2rem;
            }
          }
          &.AFCreported{
            .report{
              border-color: #4fc3f6!important;
              .sg-icon{
                fill:#4fc3f6!important;
              }
            }
          }
          .confirm{
            display:flex!important;
          }
          .qdata{
            border-color:#ff7968!important;
          }
        }
        &.approved{
          border: 2px solid #60d399;
          .mod{
            display:none;
            :not(.unapprove){
              display: none;
            };
            .unapprove , .unapprove *{
              display:flex!important;
            }
          }
          .verifiedheader{
            display:flex;
            background: #e3f7ed;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding: 18px;
            border-bottom: 1px solid #c3d1dd;
            .brn-element-wrapper{
              display:none;
            }
          }
          
        }
        .actions{
          display:flex;
          align-items: center;
          justify-content: space-between;
          .access{
            display:flex;
            .commentvis{
              display:flex;
              align-items: center;
              .sg-icon{
                color: #323c45;
                height: 26px;
                width:26px;
                margin-right: 4px;
              }
              .commentnum{
                font-weight: 600;
                color: #323c45;
              }
            }
          }
          .mod{
            display:flex;
            .actionbut{
              margin-right:8px;
            }
          }
          .actionbut{
            width: 40px;
            cursor: pointer;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
          }
          .delete{
            border: 2px solid #ff341a;
            >div{
              fill: #ff341a;
              height: 26px;
              width: 26px;
            }
          
          }
          .correction{
            border: 2px solid #4fc3f6;
            >div{
              fill: #4fc3f6;
              height: 26px;
              width: 26px;
            }
          }
          
          .confirm{
            border:2px solid #60d399;
            display:none;
            >div{
              fill:#60d399;
            }
          }
          .approve{
            border:2px solid #60d399;
            >div{
              fill:#60d399;
            }
          }
          .unapprove{
            border:2px solid black;
            >div{
              fill:black;
            }
          }
          .qdel, .adel{
            border:none;
            border-radius:100%;
            height:40px;
            font-weight:600;
            width:40px;
            background:#fbbe2e;
            color:white;
            display:flex;
            align-items: center;
            justify-content:center;
          }
        }
      }
      .rank{
        font-weight:600;
      }
      .report{
        display:none;
        border:1px solid #ff7968;
        border-radius:5px;
        padding:8px;
        align-items:center;
        margin-bottom:8px;
        margin:8px;
        >div{
          fill:#ff341a;
          margin-right:8px;
        }
      }
      .adata, .qdata{
        padding: 24px;
        padding-top: 8px;
        border-radius:8px;
        overflow-x: hidden;
        .warns{
          font-weight:600;
        }
      }

      .content{
        margin-top:8px;
        text-overflow:ellipsis;
      }
      .attachments{
        margin-top: 8px;
        margin-bottom:8px;
        justify-content: center;
        padding: 8px 8px;
        border-radius: 10px;
        display:none;
        position: relative;
        background: #f5f8fa;
        height: 400px;
        align-items: center;
        justify-content: center;
        &.show{
          display:flex;
        }
        img{
          max-height: 350px;
          max-width:350px;
          border-radius: 10px;
          &.deleted{
            border: 2px solid #ff7968;
          }
        }
      }
      .attachment-tools{
        position: absolute;
        right: 8px;
        bottom:8px;
        display: flex;
        z-index:900;
        >button{
          border-radius: 100%;
          height: 40px;
          width: 40px;
          border: none;
          margin: 0px 4px;
          >div{
            height: 26px;
            fill: #323c45;
            width: 26px;
          }
        }
      }
      .attach-list{
        display:flex;
        img{
          height: 64px;
          padding: 8px 8px;
          border: 2px solid #e1eaf1;
          border-radius:10px;
          margin-right:8px;
          cursor:pointer;
          &:hover{
            border-color:#c3d1dd;
          }
        }
      }
      .user-info, .text-user, .text-subj{
        display:flex;
      }
      .pfp{
        margin-right:8px;
        img{
          height: 32px;
          border-radius: 100%;
        }
      }
      .text-subj > div{
        color:#687b86;
      }
      .question, [class^= "answer"]{
        flex:1;
        transition-duration:150ms;
        &.deleted{
          background:#ffe8e5;
        }
      }
      .actions{
        display:flex;
        margin-top:8px;
      }
      .actions > button, .actions > div{
        margin:0px 4px;
      }
      .answers{
        flex:1;
        max-width:100%;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        align-items: baseline;
        .content-item{
          flex:0;
          &.deleted{
            background:#ffe8e5;
          }
        }
      }
    }

    > h2{
      font-size:18px;
      line-height:20px;
    }
  }
}
.modticket{
  position:relative;
  >.sg-spinner-container__overlay{
    border-radius:100%;
    background:rgba(255,255,255,0.5);
    display:none;
    &.show{
      display:flex!important;
    }

  }
}
.blockint{
  position:fixed;
  pointer-events:visible!important;
  height:100vh;
  width:100vw;
  z-index:999;
}
.noanswer{
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  height: max-content;
  &.show{
    display:flex!important;
  }
  >img{
    max-width:60%;
  }
  >h1{
    font-size:2rem!important;
  }
}

.rightdot::after{
  content: '\00B7';
  display: inline-block;
  color: #323c45;
  padding: 0 2px;
}

.ryv-notif{
  background: #f5f8fa;
    position: fixed;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 12px;
    right: 12px;
    width: 300px;
    display: flex;
    border-radius: 10px;
    bottom: 12px;
    z-index: 999;
    flex-direction: column;
    justify-content: space-around;
    >.sg-flex{
      flex-direction: column;
      width: 90%;
      flex: 1;
      align-items: center;
      justify-content: space-evenly;
      .password{
        margin-top:8px;
      }
      >div{
        width: 100%;
        margin-right: 0px;
      }
    }
    .notif_close{
      position: absolute;
      top: 12px;
      right: 12px;
      cursor:pointer;
      svg{
        fill:#323c45!important;
      }
    }
    >img{
      width:70%;
    }
    h1{
      text-align:center;
      color:#323c45;
      font-size:2rem;
    }
}
.spinner-container{
  display:none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.6);
  z-index: 900;
  justify-content: center;
  align-items: center;
  &.show{
    display:flex!important;
  }
}
.afc{
  display:none;
  &.show{
    display:flex!important;
    flex-direction: column;
  }
  textarea{
    width:100%;
    margin:8px 0px;
  }
}
.delmenu{
  display:none;
  .secondary-items, .deletion-reason{
    display:none;
  }
  &.show{
    display:flex;
    flex-direction:column;
  }
  &.secondary{
    .secondary-items, .deletion-reason{
      display:block;
    }
    .del-options{
      display:flex;
    }
  }
  .primary-items, .secondary-items{ 
    margin-top:8px;
    padding: 8px 0px;
    border-bottom: 1px solid #c3d1dd;
    label{
      display: flex!important;
      align-items:center;
      padding-right:8px!important;
      font-size:1rem!important;
    }
    .sg-radio-group__items{
      display: flex;
      flex-wrap: wrap;
      .sg-radio--with-padding{
        padding:0!important;
        label{
          font-size:1rem!important;
          padding-top:0px!important;
          padding-right:4px!important;
        }
      }
    }

  }
  .deletion-reason{
    margin-top:8px;
  }
  .del-options{
    display:none;
    align-items: center;
    margin-top: 8px;
    justify-content: space-between;
    button{
      height: 36px;
      padding: 0.2rem 1rem;
    }
    .warnpts{
      display:flex;
      flex-direction: column;
      label{
        font-size:1rem;
        margin-right:8px;
        display: inline-flex!important;
        flex-direction: row;
        span{
          margin-left:4px!important;
        }
        input{
          position:absolute!important;
        }
      }
    }
  }
}
