.deletion-reason{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
}
.warnpts{
  border-bottom:none!important;
}
a[style = "color: #3366cc;"]{
  color:black!important;
  font-size: 1rem;
}
.mass-actions{
  position: fixed;
  z-index: 800;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  background: black;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  button{
    &:focus, &:hover{
      background-color: black!important;
    }
  }
}
.primary-items, .secondary-items, .warnpts{ 
    margin-top:8px;
    padding: 8px 0px;
    border-bottom: 1px solid #c3d1dd;
    > label{
      padding:0px 8px;
      > span:last-child{
        margin-left:8px;
      }
    }
  }
.confirmdel{
    margin-top: 2%;
    margin-left: 0% !important;
}
.delmenu label[for = 'res-pts']{
  display:none;
}
.modButtons{
  margin-right:8px;
  margin-bottom:8px;
}
#container{
  div#content-old{
    >div:nth-child(1) {
      display:flex;
      align-items:center;
      >div:nth-child(1){
        img{
          border-radius:10px;
        }
      }
      > div:nth-child(2){
        h1 > div{
          font-size:2rem;
          font-weight:900;
        }
        p{
          font-size: 1rem;
          font-weight:600;
        }
      }
    }
    tbody{
      tr{
        height: 40px;
        border-top: 1px solid #c3d1dd;
        border-bottom: 1px solid #c3d1dd;
        &:nth-child(2n){
          background:#e1eaf1;
        }
        &:nth-child(2n+1){
          background:#c3d1dd;
        }
        .sg-space-x-m{
          padding-right:8px;
        }
      }
      div{
        font-size:11px!important;
      }
    }
  }
}
#tabs-doj{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  li.active a{
    color:#f0f2f5!important;
  }
}
.contenticon{
  height: 30px;
  fill: white;
  padding: 5px;
  margin-right: 10px;
  border-radius: 100%;
  width: 30px;
  flex:none;
}
.contenticon.report{
  background:#ff7968;
}
.contenticon.attach{
  background:black;
}
.contenticon.approve{
  background:#60D399;
  fill:white;
}
.contenticon.shield{
  cursor:pointer;
  fill:#323c45;
  &:hover{
    background:#f0f2f5;
  }
}
.contenticon.crown{
  background:#fbbe2e;
  fill:white;
}
div#content-old a{
  color:#08c!important;
  cursor: pointer;
  font-weight: 700;
}

.iconcell{ 
  display:flex;
  height: 40px;
  display: flex;
  align-items: center;
  > div{
    display:flex;
  }
  .modticket{
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
    .sg-spinner-container__overlay{
      background:#f0f2f5!important;
    }
    .contenticon.shield{
      margin-right:0px!important;
    }
  }
}
#content-old > div:nth-child(1) > div:nth-child(2) > h1 > a{
  font-weight: 900;
  font-size: 2rem;
}
tbody{
  >tr.modified {
    > td{
      &:nth-child(2){
        text-align: center!important;
      }
    }
  }
}
thead > th:nth-child(2){
  text-align:center!important;
}