div.brn-placeholder__animation{
  background:none!important;
}
#moderate-functions-panel .icon, div[data-testid = 'game_box_badges'], button[data-testid = 'navigation_tutoring'], div[data-testid = 'tutoring_promo_box']{
  display:none!important;
}

.brn-feed-item__points .brn-points-on-feed{
  display:flex;
  align-items:center;
  .repflag{
    background:transparent;
    height:24px;
    width:24px;
    margin-right:4px;
    display:flex;
    justify-content:center;
    align-items:center;
    >div{
      fill:#ff341a!important;
      max-height:24px;
      max-width:24px;
    }
  }
}
.brn-feed-item__footer{
  >div{
    display:flex;
  }
  
  .sg-actions-list__hole--to-right{
    display:flex;
    margin-right:4px!important;
    .sg-button--outline{

      >div{
        max-height:24px!important;
        max-width:24px!important;
      }
    }
  }
  button.sg-button--outline,.newansbut{
    width:36px;
    height:36px;
    padding:8px 8px 8px 8px!important;
    border-radius:100%;
  }
  .newansbut{
    background-color: black!important;
  }
  .mod-button{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#ebeeff!important;
    border-color: #ebeeff!important;

    svg{
      fill:black;
    }
    > div{
      height:20px;
      width:20px;
    }
  }
}