.header,#profile{
    display:flex!important;
}
.changePermissions{
    flex-direction: column;
    display: flex;
    padding: 5px;
}
.bio-container{
    padding: 12px 0px;
    position: relative;
    font-size: 0.9rem;
    border-top: 1px solid #e1eaf1;
    border-bottom: 1px solid #e1eaf1;
    &::before{
        content: 'user bio:';
        margin-right: 4px;
        font-weight: 900;
        font-size:1rem;
        text-transform: uppercase;
    }
}
.helped_info{display:none!important;}
.mod-profile-panel{
    position:relative;
    .user-del-btn{
        border-color:#ff7968;
        padding: 0px 16px;
        width: 175px!important;
        display: flex;
        margin-top: 4px;
        position: absolute;
        right: 0;
        bottom: 115%;
        height: 35px;
        align-items: center;
        justify-content: space-evenly;
        svg{
            fill:#ff7968;
        }
        >span{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
        }
    }
}
span.rank > h3 > span, span.rank > h3 > a{
    font-weight:900!important;
}
.modal-accdel{
    background: white;
    padding: 12px;
    height: 300px;
    display: flex;
    width: 350px;
    flex-direction: column;
    border-radius: 10px;
    position:relative;
    .spinner-container{
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        background:rgba(255,255,255,0.6);
        display:none;
        justify-content: center;
        align-items:center;
        border-radius:10px;
        &.show{
            display:flex!important;
            z-index:999;
        }
    }
    >h1{
        font-size:1.5rem;
        line-height:2rem;
        font-weight:900!important;
    }
    .modal_close{
        position: absolute;
        cursor:pointer;
        right: 12px;
        top: 12px;
        height: 26px;
        width: 26px;
        >div{
            height:26px;
            width:26px;
            color:#687b86!important;
        }
    }
    .content{
        display: flex;
        flex: 1;
        flex-direction: column;
        >textarea{
            flex:1;
        }
        &.errormsg{
            >div{
                display:block;
            }
        }
        .presets{
            display: flex;
            margin-top: 8px;
            flex-wrap: wrap;
            .sg-text{
                font-size: 1rem!important;
            }
            .sg-radio-group__items{
                display:flex;
                flex-wrap: wrap;
            }
        }
        >button{
            margin-top:16px;
            width:100%;
            background-color: #ff7968;
            &:hover, &:focus{
                background-color: #ff7968;
            }
            color:white;
        }
    }
}
.warnbox{
    width:336px!important;
    .heading{
        height:2rem;
        .sg-headline{
            text-transform: uppercase!important;
            color: #323c45!important;
        }
    }
    .toggleview{
        display:flex;
        justify-content:center;
        margin-top:8px;
        >button{
            border-color: #c98600!important;
            font-size: 16px!important;
            height: 34px!important;
            padding: 0px 16px!important;
            &:focus{
                background:transparent!important
            }
        }
    }
    .warnings{
        height:159px!important;
        overflow:hidden;
        &.all{
            height:max-content!important;
        }
        .warning{
            position:relative;
            height:53px;
            padding:8px 0px;
            border-bottom: 1px solid #ebf2f7;
            .content{
                display: flex;
                max-width: 18ch;
                max-height: 1rem;
                font-size: 1rem !important;
                line-height: 1rem !important;
                overflow: hidden;
            }
            .mod{
                position: absolute;
                bottom: 8px;
                font-weight:600!important;
                right: 0px;
                font-size: 1rem !important;
                color: #c98600;
            }
            .reason{
                font-weight: 600;
                color: #323c45;
                .revoked{
                    color: #ff7968!important;
                }
            }
            .time{
                right:0;
                top:8px;
                font-size:14px;
                position:absolute;
            }
        }
    }
}
#content-old{
    width:max-content!important;
}