.request-verification{
    padding:0px 10px!important;
    border:none;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#60d399;
        }
    }
}
.request-unverification{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:black;
        }
    }
}
.alrdone{
    display:none !important;
}
.confirm-black {
    height: 32px !important;
    padding: 0 16px !important;
    font-size: 12px !important;
    line-height: 12px !important;
}
.openTicketQuestionPage{
    padding: 0px;
    width: 40px;
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    >span{
        margin-right: 0px;
        margin-left: 0px;
        .sg-icon{
            color:#687b86!important;
        }
    }
}
.cancel-request, .cancel-request-unverify{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:black!important;
        }
    }
}
.is-requested{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:black!important;
        }
    }
}
.requested{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#323c45!important;
        }
    }
}