.request-verification{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#60d399;
        }
    }
}
.openTicketQuestionPage{
    padding: 0px;
    width: 40px;
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    >span{
        margin-right: 0px;
        margin-left: 0px;
        .sg-icon{
            color:#687b86!important;
        }
    }
}
.cancel-request{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#ff7968!important;
        }
    }
}
.requested{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#323c45!important;
        }
    }
}