#app{
    height:100vh;
    display: flex;
    flex-direction: column;

    div[data-testid = 'header']{
        justify-content:space-between;
        height: 64px;
        display: flex;
        border-bottom: 2px solid #ebf2f7;
        padding: 16px 24px;
        >div{
            >a , >a>div{
                width: 70px;
                height: 31px;
                display: inline-block;
            }
        }
        .pagination{
            display:flex;
            align-items: center;
            >button{
                height:32px!important;
                width:32px!important;
                &:hover{
                    background:transparent!important;
                }
                .sg-icon{
                    height:16px!important;
                    width:16px!important;
                    svg{
                        height:16px!important;
                        width:16px!important;
                    }
                }
            }
            .pagenum{
                margin: 0px 10px;
                font-weight: 700;
                font-size: 0.9rem;
            }
        }
    }
    .flash-messages-container{top:0!important; z-index:999;}
    .spinner-container{
        &.show{
            display:flex!important;
        }
    }

    .container{
        flex:1;
        position:relative;
        overflow-y: auto;
        padding:24px;
        display:grid!important;
        position:relative;
        grid-template-rows: repeat(auto-fit, minmax(300px, 300px));
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-gap:8px;
        .empty{
            height: 100%;
            width: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            >img{
                width:80%;
            }
        }
        .item{
            padding: 12px;
            border: 2px solid #ebf2f7;
            border-radius: 5px;
            height: 300px;
            display:flex;
            position:relative;
            flex-direction: column;
            &.show{
                .spinner-container{
                    position:absolute;
                    top:0;
                    left:0;
                    display:flex;
                }
            }
            &:hover{
                border-color:#e1eaf1!important;
            }
            .head{
                display:flex;
                margin-bottom:8px;
                align-items:center;
                .sg-subject-icon{
                    height:32px;
                    width:32px;
                    margin-right:4px;
                }
                >div{
                    flex-direction: column;
                    .qid{
                        font-size:1.3rem;
                        line-height:1.3rem;
                        color:#08c;
                    }
                    .created{
                        font-size:0.7rem;
                        line-height:1rem;
                        color:#323c45;
                    }
                }
            }
            .content{
                flex:1;
                overflow:scroll;
            }
            .stats{
                display:flex;
                align-items:center;
                .no-attachment, .not-reported{
                    display:none;
                }
                .attachment{
                    margin-right:8px;
                    svg{
                        color:#323c45!important;
                    }
                }
                .reported{
                    margin-left:8px;
                }
                .thanks{
                    margin-right:12px;
                    svg{
                        fill: #ff7968;
                    }
                    .sg-text{
                        color: #ff7968;
                    }
                }
                .rating{
                    margin-right:12px;
                    svg{
                        fill: #fbbe2e;
                    }
                    .sg-text{
                        color: #fbbe2e;
                    }
                }
            }
            .options{
                display: flex;
                padding: 8px 0px;
                align-items: center;
                justify-content: space-between;
                .actions{
                    display:flex;
                    >div:nth-child(1), >div:nth-child(2){
                        margin-right:4px;
                    }
                    .tickbut, .ignoreRequest, .approveRequest{
                        display:flex;
                        align-items:center;
                        justify-content: center;
                        .sg-spinner{
                            display:none;
                        }
                        &.show{
                            .sg-spinner{
                                position:absolute;
                                display:flex;
                            }
                        }
                    }
                    button{
                        height:32px!important;
                        width:32px!important;
                        .sg-icon{
                            height:16px!important;
                            width:16px!important;
                        }
                    }
                }
            }
        }
    }
}