div.top > div.header > h1{
    text-transform: uppercase;
    font-size:1.5rem;
}
.moderation-item{
    position:relative;
    .ticket_reserved_mod_box{
        top: 0;
        position: absolute;
        height: 100%;
        z-index: 900;
        display: flex;
        background: rgba(255,255,255,0.2);
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}