.request-verification{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#60d399;
        }
    }
}
.cancel-request{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#ff7968!important;
        }
    }
}
.requested{
    padding:0px 10px!important;
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#323c45!important;
        }
    }
}