.request-verification{
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#60d399;
        }
    }
}
.cancel-request{
    background:transparent!important;
    .sg-button__icon{
        margin-right:0px!important;
        svg{
            fill:#ff7968!important;
        }
    }
}